<%- include('../../partials/siteHeader', {pageTitle: "Dishes Page"}) %>

<%if(products.length > 0){%>
    <table border>
        <tr>
            <th>Product Name</th><th>weight</th><th>Operations</th>
        </tr>    
        <% products.forEach((oneProduct) => { %>
            <tr>
                <th><%= oneProduct.productName %></th>
                <th><%= oneProduct.weight %></th>
                <th>
                    <a href="/products/show/<%=oneProduct.id%>">
                        Details
                    </a>
                </th>
            </tr>
        <% }); %>
    </table>
<%}
else {%>
    <h3>No products created yet !!!!</h3>
<%}%>


<%- include('../../partials/siteFooter') %>