<%- include('../../partials/siteHeader', {pageTitle: "Dishes Page"}) %>

<div class="allDishes">
    
    <% products.forEach((oneProduct) => { %>
        <div class="oneDish">            
            <div class="dishDetails">
                <h2><%= oneProduct.productName %></h2>
                <h4><%= oneProduct.weight %></h4>
                <h3><%= oneProduct.description %></h3>
            </div>
        </div>
    <% }); %>
    
</div>

<%- include('../../partials/siteFooter') %>