<%- include('../../partials/siteHeader', {pageTitle: "Dishes Page"}) %>

<%if(oneProduct.length > 0) {%>
    <table border>
        <tr>
            <th>Product name</th>
            <th><%= oneProduct[0].productName %></th>   <!-- oneProduct is array [0] -->
        </tr>
        <tr>
            <th>Product weight</th>
            <th><%= oneProduct[0].weight %></th>
        </tr>
        <tr>
            <th>Product description</th>
            <th><%= oneProduct[0].description %></th>
        </tr>
    </table>
<%}
else {%>
    <h3>No product with this information !!!</h3>
<%}%>


<%- include('../../partials/siteFooter') %>